{% extends "base.html" %}

{% block classifieds_post_search %}

        <a href="/classifieds/post/"><button class=" btn btn-lg btn-primary">Post</button></a>
      <h2 id ="Search"> Search </h2>

      <form method = "post" action = "/classifieds/search/">
        {% csrf_token %}
        <input type="text" id = "search" name = "search" />
        <!-- <input type = "submit" value = "Search"/> -->
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <div>
        {% if recent_posts %}
        <h2> Recent Posts </h2>
          {% for each in recent_posts %}
            <li><a href="/classifieds/{{ each.id }}/">{{ each }}</a></li>
          {% endfor %}
        {% endif %}
      </div>
    {% endblock %}
{% block extra_divs %}

<br>
<br>


<div class="row">
        <div class="col-sm-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">For Sale</h3>
            </div>
            <div class="panel-body">
              	{% if For_Sale %}
				{% for each in For_Sale %}
				<li><a href="/classifieds/{{ each }}/">{{ each }}</a></li>
				{% endfor %}
				{% endif %}
            </div>
          </div>

        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Community</h3>
            </div>
            <div class="panel-body">
              	{% if community %}
				{% for each in community %}
				<li><a href="/classifieds/{{ each }}/">{{ each }}</a></li>
				{% endfor %}
				{% endif %}
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Housing</h3>
            </div>
            <div class="panel-body">
              	{% if housing %}
				{% for each in housing %}
				<li><a href="/classifieds/{{ each }}/">{{ each }}</a></li>
				{% endfor %}
				{% endif %}
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">On Campus Jobs</h3>
            </div>
            <div class="panel-body">
              	{% if on_campus_jobs %}
				{% for each in on_campus_jobs %}
				<li><a href="/classifieds/{{ each }}/">{{ each }}</a></li>
				{% endfor %}
				{% endif %}
            </div>
          </div>
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Personals</h3>
            </div>
            <div class="panel-body">
              	{% if personals %}
				{% for each in personals %}
				<li><a href="/classifieds/{{ each }}/">{{ each }}</a></li>
				{% endfor %}
				{% endif %}
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Wanted</h3>
            </div>
            <div class="panel-body">
              	{% if Wanted %}
				{% for each in Wanted %}
				<li><a href="/classifieds/{{ each }}/">{{ each }}</a></li>
				{% endfor %}
				{% endif %}
            </div>
          </div>

        </div><!-- /.col-sm-4 -->
      </div>



{% endblock %}

