{% extends "base.html" %}

{% block heading %} {{spec_title}} {% if spec_price %} -- {{spec_price}} {% endif %} {% endblock %}
 
{% block other_info %}

<div id = "specific">
	{% if spec_photo %}
	<img src="{{spec_photo.url}}">
	{% endif %}
	{% if spec_photo2 %}
	<img src="{{spec_photo2.url}}">
	{% endif %}
	{% if spec_photo3 %}
	<img src="{{spec_photo3.url}}">
	{% endif %}
	{% if spec_photo4 %}
	<img src="{{spec_photo4.url}}">
	{% endif %}
	<!-- div class = "well"> -->
	<li id = "specific_description">{{spec_description}}</li>
	<!-- </div> -->
	<li><a href = "mailto:{{spec_user}}"> {{spec_user}} </a></li>
	
</div>
{% endblock %}