
h5
{
	font-size: 50px;

}
h4
{
	font-size: 25px;
}

/*a#heading_url:link
{
	text-decoration: none;
	color: black;
}
a#heading_url:visited
{
	color: black;
	text-decoration: none;

}*/
#left_post_div
{
	float: left;
	margin-right: 30px;
}
#right_post_div
{
	float: left;
	margin-left: 30px;
}
#post_something
{
	font-size: 35px;
	text-align: center;
}
#post_search
{
	float: left;
	width: 22%;

	margin: 5px auto;
	text-indent: 2%;
}
#post_div
{
	width: 69%;
	float: right;
}
#container
{
	width: 70%;
	margin: 5px auto;
	float: left;
}

#footer
{
	min-height: 100%;
	width: 100%;
}

#left_footer
{
	width: 50%;
	float: left;
	text-indent: 7.5%;

}

#right_footer
{
	width: 50%;
	float: left;
	text-indent: 26%;

}
li
{
	margin-left: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 0px;
	list-style-type: none;
}
#navbar_heading
{
	text-align: center;
	list-style-type: none;
	color: white;
	text-decoration: none;

}
#search_results
{
	width: 78%;
	margin-bottom: 80px;
	float: left;
}
#search_results_empty
{
	float: left;
	margin-bottom: 80px;

}

#detail
{
	width: 78%;
	margin-bottom: 80px;
	float: left;
}

#heading
{
	float: left;
	width: 78%;
}
#no_posts
{
	float: left;
	margin-bottom: 80px;
}
#specific
{
	float: left;
	width: 78%;
	margin-bottom: 80px;
}

#specific_price
{
	font-size: 25px;
}
#success_post
{
	float: left;
	width: 50%;
	margin-bottom: 80px;
}